<div class="container-fluid">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" >
      <h3>WELCOME</h3>
      <h4>Your feedback will be highly appreciated.</h4>
      <br><br>
      <br><br>
      <hr>
      <div class="row center">
      <div class="col-xs-3 col-xs-offset-0 col-sm-3 col-sm-offset-0 col-md-2 col-md-offset-0" >
      <button type="button" class="btn btn-primary button " (click)="onCancel()">Cancel survey</button>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-10" >
      <button type="button"  class="btn btn-primary button pull-right" (click)="onStart()">Start survey</button>
      </div>
    </div>
    </div>
    </div>
   
  </div>