<div class="container">
    <div class="row">
      <div class="text-center">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h3>Welcome</h3>
          <br>
          <h4>
              Welcome statement about how primaryrmation is
              anonymous
          </h4>
            <div style="margin-top: 10em;" class="text-center">
            <button  class="btn btn-primary" (click)="onCancel()">Cancel</button>
            <button style="width: 5em" class="btn btn-primary" (click)="onClick()">start</button>
          </div>
        </div>
    </div>
  </div>

