<div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4" >
      <h2 style="text-align: left;">WELCOME!</h2>
      <h3 style="text-align: left;">Your feedback will be highly appreciated!</h3>
      <br><br>
      <div style="text-align: left">
      <button type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" style="width: 5em" class="btn btn-primary"  (click)="onClick()">Start</button>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    </div>
    </div>
  </div>
  
