<!-- TODO: 
  * factor out styling
  * make sure page is correct AMPATh login (image, etc.)
-->
<div class="alert alert-danger" role="alert" *ngIf="showAlert">
  Incorrect username or password!
</div>

<div> 
  <br><br>
  <br><br>
  <br><br>
  <!-- TODO: change col-md to be of appropriate sizing upon resizing browser -->
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <div class="card ">
      <div class="card-body">
      <img src="assets/lg.jpg" class="img-responsive" alt="No logo">
      <br>
      <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="email" class="form-control input-lg" #username aria-describedby="emailHelp" placeholder="Enter Username">
            <!-- TODO: should it be type e-mail? -->
          </div>
          <br>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control input-lg" #password placeholder="Password">
          </div>
    
          <button type="submit" style="background-color: #428bca; color:white;" class="btn  btn-lg float-right" (click)="onLogin(username.value, password.value)">Submit</button>
          <br><br>
        </form>
      </div>
      </div>
  </div>

    <div class="col-md-4"></div>
</div>
