<div class="container">
  <form class="navbar-form">
    <div class="form-group ">
      <select class="form-control" id="exampleFormControlSelect1" style="height: 3em; width: 20em">
        <option selected disabled>Location</option>
        <option>Turbo</option>
        <option>Teso</option>
        <option>Chulaimbo</option>
        <option>Eldoret</option>
      </select>
    </div>
    <button type="button" (click)="onSave()" class="btn btn-primary btn-md" style="width: 7em; height: 3.0em">Save</button>
  </form>

  <!-- <br><br>

  <div class="row">
  <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-md-4">
  <div class="panel panel-default">
  <div class="panel-body">
  <form>
  <div class="form-group">
    <select class="form-control form-control-lg" id="exampleFormControlSelect1" style="height: 3em">
      <option selected disabled>Location</option>
      <option>Turbo</option>
      <option>Teso</option>
      <option>Chulaimbo</option>
      <option>Eldoret</option>
    </select>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="text-center"><button type="button"  (click)="onSave()"  class="btn btn-primary btn-md" style="width: 7em" >Save</button></div>
</form>
</div>
</div>
</div>
</div> -->
</div>