<div class="container">
  <div class="select-group">
      <select id="exampleFormControlSelect1" style="height: 3em; width: 25em">
          <option selected disabled>Location</option>
          <option>Turbo</option>
          <option>Teso</option>
          <option>Chulaimbo</option>
          <option>Eldoret</option>
        </select>
    <span>
        <button type="button" (click)="onSave()" class="btn btn-primary btn-md" style="width: 7em; height: 3.0em">Save</button>
    </span>
  </div>
</div>