<div> 
  <br><br>

  <div class="col-xs-2 col-sm-3 col-md-4"></div>
  <div class="col-xs-8 col-sm-6 col-md-4">
  <div class="panel panel-default">
  <div class="panel-body">
  <form>
  <div class="form-group">
    <select class="form-control form-control-lg" id="exampleFormControlSelect1" style="height: 3em">
      <option selected disabled>Location</option>
      <option>Turbo</option>
      <option>Teso</option>
      <option>Chulaimbo</option>
      <option>Eldoret</option>
    </select>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="text-center"><button type="button"  (click)="onSave()"  class="btn btn-primary btn-md" style="width: 7em" >Save</button></div>
</form>
</div>
</div>
</div>
<div class="col-xs-2 col-sm-3 col-md-4"></div>
</div>