<div class="container">
  <h3 style="text-align: center;">Select Clinic Types visited today:</h3>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
      <div class="btn-group ">
        <button type="button" class="btn btn-default">DM</button>
        <button type="button" class="btn btn-default">HTN</button>
        <button type="button" class="btn btn-default">HIV</button>
      </div>
    </div>
  </div>
  <br>
  <br>
  <h3 style="text-align: center;">Select the surveys for this patient</h3>
  <br><br>
  <div class="row">
  <div style="text-align: center;">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4"></div>
      <div class="col-xs-3 col-sm-3 col-md-3">
       <h4> End of clinic survey</h4>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <input type="checkbox" value="">
      </div>
      
    </div>
    <br>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4"></div>
        <div class="col-xs-3 col-sm-3 col-md-3">
        <h4>Diabetes Clinic Survey</h4>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <input type="checkbox" value="">
        </div>
        
      </div>
  </div>  
</div>
  <br> <br>
  <div class="row">
      <div class="text-center">
        <button class="btn btn-primary " style="width: 8em" (click)="onClick()">start</button>
      </div>
  </div>
</div>

<!-- <button class="btn btn-info" (click)="onClick()">start</button> -->